/*top*/
.top{
	.clearfix;
	#translucent > .background(#000,0.4);
}
.sectionB{
	background:#eefaf9;	
}
.sectionC{
	background:#dae1e1;
}
footer{
    background:#586261;
    height:190px;
    overflow: hidden;
}

footer .container{
	height:100%;
	.row{
		height:100%;
	}
}

//Moduls

.module{
	margin-top:60px;
	.box-sizing(border-box);
	footer &{
		height:100%;
		position: relative;
		margin-top:0;
	}
}
