// ACCORDION
// ---------


// Parent container
.accordion {
  margin-bottom: $baseLineHeight;
  background:#c4caca;
  @include translucent-background(#000000, 0.1);
}

// Group == heading + body
.accordion-group {
  //margin-bottom: 2px;
  border-top: 1px solid #ffffff;
  //@include border-radius(4px);
  &:first-child{
    border:none;
  }
}
.accordion-heading {
  border-bottom: 0;
  //background-image: url($open-close);
  //background-position: 98% -599px;
  //background-repeat: no-repeat;
  a{
    &:after{
      content:"";
      display: inline-block;
      float:right;
      width:12px;
      height:13px;
      @extend .oim-icons-open;
      margin-top:3px;
    }
  }
}

.accordion-heading.open{
  a{
    &:after{
      @extend .oim-icons-close;
      width:12px;
      height:3px;
      margin-top:8px;
    }
  }
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  color:#004d46;
  font-size:0.75em;
  font-weight:bold;
  &:hover{
    background-color:$white;
    text-decoration: none;
  }
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 15px;
  //border-top: 1px solid #e5e5e5;
  h3{
    font-size:0.75em;
    margin:0 0 0.6em 0;
  }
}
