// CAROUSEL
// --------

.carousel {
  position: relative;
  margin-bottom: $baseLineHeight;
  line-height: 1;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel {

  .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);
  }

  // Account for jankitude on images
  .item > img {
    display: block;
    line-height: 1;
    width:100%;
  }

  .active,
  .next,
  .prev { display: block; }

  .active {
    left: 0;
  }

  .next,
  .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .next {
    left: 100%;
  }
  .prev {
    left: -100%;
  }
  .next.left,
  .prev.right {
    left: 0;
  }

  .active.left {
    left: -100%;
  }
  .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 40%;
  left: 0px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background-color: $grayDarker;
  @include translucent-background($black, 0.8);
  @include opacity(50);
  //background-position:-7px -98px;
  &:after{
    content:"";
    display:block;
    width:8px;
    height:12px;
    margin:13px 0 0 15px;
    @extend .oim-icons-carousel-left; 
  }
  &.right {
    left: auto;
    right: 0px;
    background-color: $grayDarker;
    &:after{
      @extend .oim-icons-carousel-right;
    }
  }

  .span3 &{
    top:25%;
  }
  //color: $white;
  //border: 3px solid $white;
  //@include border-radius(23px);
  //.oim-icons-carousel-right;
  // we can't have this transition here
  // because webkit cancels the carousel
  // animation if you trip this while
  // in the middle of another animation
  // ;_;
  // @include transition(opacity .2s linear);
  // Reposition the right one

  // Hover state
  &:hover {
    color: $white;
    text-decoration: none;
    @include opacity(90);
  }
}

// Caption for text below images
// -----------------------------

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 15px 5px;
  background:#d4e0df;
}
.carousel-caption h4,
.carousel-caption p {
  color:$black;
}
