.key-numbers{
	@include clearfix();
	border-bottom:1px solid #acb5b4;
	background:url($key-top) center 15px no-repeat;
	padding:45px 15px 15px;
	color:#000000;
	.fit{
		span{
			line-height:1em;
			display:block;
		}
	}
	dd{
		font-size:0.75em;
		text-align:center;
	}
	.highlight &{
		background-color:#d7e1e0;
	}
}