[class*="span"] {
	margin-left: 2.564102564103%!important;

}
.row {
	margin-left: -2.564102564103%!important;
	margin-bottom: 2.564102564103%!important;
}
.span11{
	width:89.10256410256%!important;
}
.span10{
	width:80.76923076923%!important;
}
.span9{
	width:72.4358974359%!important;
}
.span8{
	width:66.66666666667%!important;
}
.span7{
	width:55.76923076923%!important;
}
.span6{
	width:47.4358974359%!important;
}
.span5{
	width:39.10256410256%!important;
}
.span4{
	width:30.76923076923%!important;
}
.span3{
	width:22.4358974359%!important;
}

.span9 .span9{
	width:97.4358974359%!important;
}
.span9 .span8{
	width:86.32478632479%!important;
}
.span9 .span8{
	width:86.32478632479%!important;
}
.span9 .span8{
	width:75.21367521367%!important;
}
.span9 .span6{
	width:64.10256410256%!important;
}
.span9 .span5{
	width:52.99145299145%!important;
}
.span9 .span4{
	width:41.88034188034%!important;
}
.span9 .span3{
	width:30.76923076923%!important;
}

.span6 .span6{
	width:97.4358974359%!important;
}

.span6 .span5{
	width:80.76923076923%!important;
}

.span6 .span4{
	width:64.10256410256%!important;
}

.span6 .span3{
	width:47.4358974359%!important;
}

.span3 .span3{
	width:97.4358974359%!important;
}