body{
	background-color: green;
}

.top{
	background-color:#000000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
}

.nav > li:hover{
	background-color:#000000;
}

.navbar-search .search-query{
	border:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.navbar-search .search-query:focus{
	color:#ffffff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.navbar button.btn{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
